/.vscode
/build
/.cache
mccomp
output.ll

/tests/addition/addition
/tests/array_addition/array_addition
/tests/array_func_arg_1d/array_func_arg_1d
/tests/cosine/cosine
/tests/factorial/factorial
/tests/fibonacci/fibonacci
/tests/global_array/global_array
/tests/leap/leap
/tests/matrix_multiplication/matrix_multiplication
/tests/null/null
/tests/palindrome/palindrome
/tests/pi/pi
/tests/recurse/recurse
/tests/rfact/rfact
/tests/unary/unary
/tests/void/void
/tests/while/while
